.container {
  margin-bottom: 10px;

  .mat-raised-button{
    color: white;
    background-color: #0076ce;
  }

  mat-label {
    padding: 5px;
  }

  .simple-button {
    color: white;
    background-color: dimgrey;
    padding: 10px;
    position: relative;
  }

  .space{
    display:inline-block;
    width: 50px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
